// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "targets": {
//           "node": "current"
//         },
//         "experiments": {
//           "topLevelAwait": true
//         }
//       }
//     ]
//   ]
// }

{
  "presets": ["next/babel"],
  "plugins": []
}
